<!DOCTYPE html>
<html>
<head>
  <title>RorExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="usermenu">
	<%= render 'layouts/usermenu' %>
</div>
<% if content_for? :header %>
	<%= yield :header %>
<% else %>
	<p>default header</p>
<% end %>
<%= yield %>
</body>
</html>
